.icon_list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 100px;
}

.icon_list ul li {
  display: inline-block;
  padding: 4px;
  position: relative;
}

.icon_list ul li .story_icon {
  background-color: var(--ft-color-grey-4);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  .icon_list ul li .story_icon {
    background-color: transparent;
    box-shadow: none;
  }
}

.icon_title {
  font-size: 10px;
  display: block;
  text-align: center;
  padding: 4px;
  box-sizing: border-box;
  max-width: 100px;
  border: none;
  background: transparent;
  color: inherit;
  margin-bottom: 8px;
  font-family: var(--ft-font-family);
  outline: none;
}

.icon_custom_color {
  color: rgb(170, 0, 255);
}
