.tab_menu {
  overflow: auto;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: nowrap;
  padding-bottom: 16px;
}
.tab_menu > ul {
  border-bottom: 1px solid var(--ft-color-grey-1);
  background: var(--ft-color-grey-3);
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: nowrap;
  display: flex;
  gap: 1px;
  padding: 8px 8px 0 8px;
  height: calc(var(--ft-tab-height) + 1px);
  flex-wrap: nowrap;
  width: auto;
  flex: 1 1 100%;
  position: relative;
  z-index: 1;
}
.tab_menu > ul::after {
  content: ' ';
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 16px;
  top: calc(100% + 1px);
  background-image: linear-gradient(var(--ft-color-white), rgba(0, 0, 0, 0));
}

/***  Tab Item  ***/
.tab_menu .tab_item {
  flex-wrap: nowrap;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  min-width: 100px;
  border-top-left-radius: var(--ft-button-default-border-radius);
  border-top-right-radius: var(--ft-button-default-border-radius);
  background-color: var(--ft-color-white);
  border: 1px solid var(--ft-color-grey-1);
  margin-bottom: -1px;
  text-decoration: none;
}

.tab_menu .tab_item .tab_trigger {
  flex-wrap: nowrap;
  display: flex;
  gap: 6px;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  cursor: default;
  padding-left: var(--ft-button-small-padding-x);
  height: var(--ft-tab-height);
  width: 100%;
  color: var(--ft-color-text);
  justify-content: space-between;
}

.tab_menu .tab_item .tab_trigger:last-child {
  padding-right: var(--ft-button-small-padding-x);
}

.tab_menu .tab_item .tab_trigger .tab_icon {
  width: 1.3em;
  min-width: 1.3em;
  font-size: 1.3em;
  margin-left: -6px;
}

.tab_menu .tab_item .tab_trigger .tab_label {
  flex: 1 1 100%;
  max-width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.tab_menu .tab_item .tab_closer {
  position: relative;
  min-width: var(--ft-tab-height);
  height: var(--ft-tab-height);
  overflow: hidden;
}

.tab_menu .tab_item.active {
  z-index: 2;
  box-shadow: var(--ft-box-shadow-2);
  border-bottom: 1px solid var(--ft-color-white);
}

/***  Add Tab  ***/
.tab_menu .add_tab {
  width: 32px;
  height: 32px;
  margin-left: 4px;
  align-self: center;
}
.tab_menu .add_tab a {
  text-decoration: none;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  color: var(--ft-color-text);
  cursor: default;
  font-weight: 500;
  border-radius: 100%;
  background-color: var(--ft-color-white);
  transition:
    opacity 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}
.tab_menu .add_tab a:hover {
  opacity: 1;
  background-color: var(--ft-button-hover-bg-color);
}
