.select {
  font-family: var(--ft-select-default-font-family);
  font-size: var(--ft-select-default-font-size);
  box-shadow: var(--ft-box-shadow-1);
  border-radius: var(--ft-form-item-border-radius);
}
.select * {
  font-family: var(--ft-select-default-font-family);
  font-size: var(--ft-select-default-font-size);
}
.select.disabled * {
  pointer-events: none;
}

/*** controls ***/
.controls {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
}
.controls > *:first-child {
  width: 100%;
  position: relative;
}
.controls .trigger_icon {
  margin-top: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  right: var(--ft-form-item-padding-x);
}
.controls .trigger {
  box-shadow: none;
}
.controls .trigger input {
  padding-right: 58px;
}
.controls .trigger input:last-child {
  padding-right: 24px;
}
.controls .trigger .cleaner {
  margin-right: 24px;
}
.controls .trigger_icon {
  color: var(--ft-form-item-border-color);
}
.controls .trigger:hover ~ .trigger_icon {
  color: var(--ft-color-text);
}
