.miniTitle {
  font-size: 10px;
  display: block;
  padding-bottom: 4px;
}

.wrapper {
  display: block;
  overflow: hidden;
  margin-bottom: 16 px;
}

.wrapper {
  background-color: rgba(255, 217, 0, 0.1);
}
.wrapper > * {
  background-color: rgba(255, 217, 0, 0.33);
}

@media (prefers-color-scheme: dark) {
  .wrapper,
  .wrapper > * {
    background-color: rgba(225, 255, 0, 0.05);
  }
}
