.input {
  font-family: var(--ft-select-default-font-family);
  font-size: var(--ft-select-default-font-size);
  box-shadow: var(--ft-box-shadow-1);
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: var(--ft-form-item-border-radius);
  border: var(--ft-form-item-border);
  padding: var(--ft-form-item-padding-y) var(--ft-form-item-padding-x);
  color: var(--ft-color-primary);
  text-overflow: ellipsis;
}
.input:focus {
  outline: var(--ft-select-list-item-bg-color-active) solid 2px;
}
.input:read-only {
  cursor: default;
  outline: none;
}
