:root {
  --ft-header-height: 36px;

  --ft-font-family: sans-serif;
  --ft-font-weight-light: light;
  --ft-font-weight-normal: normal;
  --ft-font-weight-bold: bold;
  --ft-font-size: 16px;

  --ft-color-white: #fff;
  --ft-color-primary: #30042f;
  --ft-color-light: #00ffb7;
  --ft-color-link: rgb(0, 77, 97);
  --ft-color-black: #0d000d;
  --ft-header-bg-color: #7979ff;
  --ft-item-bg-color: #e6fffc;

  --ft-max-z-index: 2147483647;
  --ft-transition-duration: 0.2s;

  --ft-button-default-font-family: var(--ft-font-family);

  --ft-button-default-font-weight: var(--ft-font-weight-bold);
  --ft-button-default-letter-spacing: 0.5px;

  --ft-button-default-bg-color: #e7e7e7;
  --ft-button-default-color: var(--ft-color-primary);
  --ft-button-hover-bg-color: #ffffff;
  --ft-button-active-bg-color: #d6d6d6;
  --ft-button-hover-color: var(--ft-color-black);
  --ft-button-default-border-radius: 6px;

  --ft-primary-default-bg-color: #4a2dff;
  --ft-primary-default-color: #ede3fb;
  --ft-primary-hover-bg-color: rgb(38, 15, 183);
  --ft-primary-active-bg-color: rgb(27, 14, 100);
  --ft-primary-shadow-color: rgba(5, 4, 46, 0.567);
  --ft-primary-hover-shadow-color: rgba(74, 45, 255, 0.567);
  --ft-primary-hover-color: var(--ft-color-white);

  --ft-secondary-default-bg-color: rgb(215, 0, 101);
  --ft-secondary-default-color: #ffe8f4;
  --ft-secondary-hover-bg-color: rgb(169, 1, 71);
  --ft-secondary-active-bg-color: rgb(86, 14, 44);
  --ft-secondary-shadow-color: rgba(80, 7, 37, 0.567);
  --ft-secondary-hover-shadow-color: rgba(215, 0, 101, 0.567);
  --ft-secondary-hover-color: var(--ft-color-white);

  --ft-tertiary-default-bg-color: rgb(0, 115, 144);
  --ft-tertiary-default-color: #c8f5ff;
  --ft-tertiary-hover-bg-color: rgb(0, 77, 97);
  --ft-tertiary-active-bg-color: rgb(0, 48, 60);
  --ft-tertiary-shadow-color: rgba(1, 30, 38, 0.567);
  --ft-tertiary-hover-shadow-color: rgba(0, 164, 205, 0.56);
  --ft-tertiary-hover-color: #ffffff;

  --ft-button-small-font-size: 13px;
  --ft-button-default-font-size: 16px;
  --ft-button-medium-font-size: var(--ft-button-default-font-size);
  --ft-button-large-font-size: 18px;

  --ft-button-small-height: 40px;
  --ft-button-default-height: 52px;
  --ft-button-medium-height: var(--ft-button-default-height);
  --ft-button-large-height: 60px;

  --ft-button-small-padding-x: 16px;
  --ft-button-default-padding-x: 24px;
  --ft-button-medium-padding-x: var(--ft-button-default-padding-x);
  --ft-button-large-padding-x: 32px;

  --ft-spinner-default-color: var(--ft-color-link);

  --ft-form-item-border-radius: 4px;
  --ft-form-item-padding-y: 8px;
  --ft-form-item-padding-x: 12px;
  --ft-form-item-border-wight: 1px;
  --ft-form-item-border-color: rgb(171, 158, 179);
  --ft-form-item-border-color-light: rgb(209, 204, 213);
  --ft-form-item-border: var(--ft-form-item-border-wight) solid var(--ft-form-item-border-color);
  --ft-form-item-bg-color: rgb(246, 255, 255);

  --ft-select-default-font-family: var(--ft-font-family);
  --ft-select-default-font-size: var(--ft-font-size);
  --ft-select-default-line-height: 22px;
  --ft-select-list-item-bg-color-hover: #e6d9fe;
  --ft-select-list-item-bg-color-active: #b5fdfb;
  --ft-select-list-item-bg-color-hover-active: #bbebff;
  --ft-select-list-item-selected-text-color: var(--ft-color-primary);

  --ft-icon-primary-color: var(--ft-color-primary);
  --ft-icon-secondary-color: #d70065;
  --ft-icon-tertiary-color: #007390;
  --ft-icon-error-color: #ff004c;
  --ft-icon-info-color: #4a2dff;
  --ft-icon-success-color: #3ba93b;
  --ft-icon-warning-color: #ffa600;

  --ft-box-shadow-1: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --ft-box-shadow-2: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
