@import url(../assets/fonts/FiraCode/font-face.css);
@import url(./default_variables.css);

:root body {
  --ft-font-family: 'Fira Code', sans-serif;
  --ft-font-weight-light: light;
  --ft-font-weight-normal: 400;
  --ft-font-weight-bold: 500;
}
