.wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  position: relative;
  margin-bottom: 8px;
}
.wrapper .label_container {
  display: block;
  background-color: var(--ft-color-grey-3);
  border-left: var(--ft-form-item-border);
  border-top: var(--ft-form-item-border);
  border-bottom: var(--ft-form-item-border);
  padding: 0 19px 0 16px;
  margin-right: -3px;
  white-space: nowrap;
  border-radius: var(--ft-form-item-border-radius) 0 0
    var(--ft-form-item-border-radius);
  box-shadow: var(--ft-box-shadow-1);
  position: relative;
  z-index: 1;
  align-items: center;
  display: flex;
}
.wrapper .field_container {
  min-width: 200px;
  width: 100%;
  z-index: 2;
}
