.modal_overflow {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  flex-direction: column;
  pointer-events: all;
  transition: opacity var(--modal-timeout-to-close) ease-in-out;
  z-index: 9999999;
  opacity: 0;
}
.modal_overflow.open {
  opacity: 1;
}
.modal_overflow.close {
  opacity: 0;
  pointer-events: none;
}

.modal_overflow::after,
.modal_overflow::before {
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  min-height: 36px;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: var(--ft-color-background);
  border-radius: var(--ft-button-default-border-radius);
  box-shadow: var(--ft-box-shadow-2);
  max-width: var(--modal-max-width);
  width: 100%;
  transition:
    opacity var(--modal-timeout-to-open) ease-in-out,
    transform var(--modal-timeout-to-open) ease-in-out;
  opacity: 0;
  transform: translateY(-32px);
  outline: solid 1px var(--ft-modal-border-color);
}
.modal_overflow.open .modal {
  opacity: 1;
  transform: translateY(0);
}
.modal_overflow.close .modal {
  opacity: 0;
}
.modal.confirm {
  max-width: var(--modal-confirm-max-width);
}
.modal .header {
  margin: 0;
  border-start-start-radius: var(--ft-button-default-border-radius);
  border-start-end-radius: var(--ft-button-default-border-radius);
  display: flex;
  justify-content: space-between;
  min-height: 42px;
  color: var(--ft-color-lightest);
}
.modal.info .header,
.modal.accept .header {
  background-color: var(--ft-modal-header-bg-color);
}
.modal.info .button_closer svg,
.modal.accept .button_closer svg {
  color: var(--ft-primary-default-color);
}
.modal.confirm .header {
  background-color: var(--ft-modal-header-confirm-bg-color);
}
.modal .header .title {
  margin: 0;
  padding: 12px 24px;
}
.modal .content {
  padding: 16px 42px 16px 24px;
}
.modal .footer {
  gap: 16px;
  display: flex;
  padding: 0 16px 16px 16px;
  justify-content: flex-end;
}
.modal .footer .button {
  min-width: 100px;
}
