.checkbox {
  display: inline-block;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  height: 32px;
  position: relative;
}
.checkbox.right {
  flex-direction: row-reverse;
}

.checkbox input {
  width: 22px;
  height: 22px;
}

.checkbox input {
  appearance: none;
  border: 1px solid var(--ft-form-item-border-color);
  border-radius: 3px;
  box-shadow:
    var(--ft-box-shadow-1),
    inset var(--ft-box-shadow-3);
  background-color: var(--ft-color-grey-3);
  transition: box-shadow 0.2s ease-in-out;
}
.checkbox input:active,
.checkbox input:hover {
  box-shadow: var(--ft-box-shadow-2);
}
.checkbox input:checked {
  box-shadow: var(--ft-box-shadow-2);
  background-color: var(--ft-color-white);
}
.checkbox input:disabled,
.checkbox input:disabled:active,
.checkbox input:disabled:hover {
  user-select: none;
  box-shadow:
    var(--ft-box-shadow-1),
    inset var(--ft-box-shadow-3);
  background-color: var(--ft-color-grey-2);
  filter: saturate(0.2) brightness(120%) contrast(100%);
}

.checkbox input ~ .icon_check {
  display: none;
  margin: 0 5px 0 6px;
  width: 18px;
  height: 18px;
  position: absolute;
  color: var(--ft-color-primary);
}
.checkbox input:checked ~ .icon_check {
  display: block;
}
.checkbox input:disabled ~ .icon_check {
  filter: saturate(0.2) brightness(120%) contrast(100%);
}
