.icon {
  font-size: inherit;
  width: 1em;
  height: 1em;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.primary {
  color: var(--ft-color-text);
}
.secondary {
  color: var(--ft-color-secondary);
}
.tertiary {
  color: var(--ft-color-tertiary);
}
.error {
  color: var(--ft-color-error);
}
.info {
  color: var(--ft-color-info);
}
.success {
  color: var(--ft-color-success);
}
.warning {
  color: var(--ft-color-warning);
}
