.icon {
  font-size: inherit;
  width: 1em;
  height: 1em;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.primary [fill] {
  fill: var(--ft-color-text);
}
.primary [stroke] {
  stroke: var(--ft-color-text);
}

.secondary [fill] {
  fill: var(--ft-color-secondary);
}
.secondary [stroke] {
  stroke: var(--ft-color-secondary);
}

.tertiary [fill] {
  fill: var(--ft-color-tertiary);
}
.tertiary [stroke] {
  stroke: var(--ft-color-tertiary);
}

.error [fill] {
  fill: var(--ft-color-error);
}
.error [stroke] {
  stroke: var(--ft-color-error);
}

.info [fill] {
  fill: var(--ft-color-info);
}
.info [stroke] {
  stroke: var(--ft-color-info);
}

.success [fill] {
  fill: var(--ft-color-success);
}
.success [stroke] {
  stroke: var(--ft-color-success);
}

.warning [fill] {
  fill: var(--ft-color-warning);
}
.warning [stroke] {
  stroke: var(--ft-color-warning);
}

.icon[fill='none'],
.icon [fill='none'] {
  fill: transparent !important;
}
.icon[stroke='none'],
.icon [stroke='none'] {
  stroke: transparent !important;
}
