.toaster_list {
  top: 0px;
  left: 0px;
  position: fixed;
  padding: 8px 32px;
  box-sizing: border-box;
  z-index: 9999;
  width: 100%;
  overflow: auto;
  max-height: 100vh;
}

.toaster_item.success {
  --ft-toaster-color: var(--ft-color-success);
}
.toaster_item.error {
  --ft-toaster-color: var(--ft-color-error);
}
.toaster_item.warning {
  --ft-toaster-color: var(--ft-color-warning);
}
.toaster_item.info {
  --ft-toaster-color: var(--ft-color-info);
}

.toaster_item {
  pointer-events: all;
  position: relative;
  margin-bottom: 8px;
  padding: 0 24px 0 calc(24px + var(--toaster-item-icon-size));
  border-radius: var(--ft-button-default-border-radius);
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  border: solid 1px var(--ft-button-active-bg-color);
  border-left: solid 6px var(--ft-toaster-color);
  background-color: var(--ft-color-white);
  box-shadow: var(--ft-box-shadow-2);
  transition:
    height 300ms ease-in-out,
    opacity 300ms ease-in-out,
    transform 300ms ease-in-out;
  transform: translateY(48px);
  overflow: hidden;
}
.toaster_item.open {
  z-index: 3;
  opacity: 1;
  transform: translateY(0);
}
.toaster_item.close {
  z-index: 2;
  height: 0 !important;
  opacity: 0;
  transform: translateY(-48px);
}

.toaster_item .title {
  color: var(--ft-toaster-color);
}
.toaster_item .title,
.toaster_item .message {
  margin: 16px 0;
}
.toaster_item .icon {
  position: absolute;
  left: 12px;
  top: 12px;
  width: var(--toaster-item-icon-size);
  height: var(--toaster-item-icon-size);
  font-size: var(--toaster-item-icon-size);
}

/*** pin_button ***/
.pin_button {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 8px;
  right: 42px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  opacity: 0.5;
  border-radius: 50%;
}
.pin_button.pinned,
.pin_button:hover {
  opacity: 1;
}
.pin_button .pin_button_icon {
  color: var(--ft-color-text);
}
.pin_button.pinned .pin_button_icon {
  color: var(--ft-color-error);
}
.pin_button .pin_button_icon {
  font-size: 16px;
  min-width: 16px;
}
