.tab_editable {
  position: relative;
  height: var(--ft-tab-height);
  line-height: var(--ft-tab-height);
  box-sizing: border-box;
  align-self: end;
  overflow: hidden;
}
.tab_editable .input,
.tab_editable .label {
  border: none;
  box-sizing: border-box;
  font-family: var(--ft-font-family);
  font-size: var(--ft-form-item-font-size);
  padding: 0;
  margin: 0;
  color: var(--ft-color-text);
  height: 100%;
  overflow: hidden;

  --ft-tab-editable-padding-top: 3px;
  height: var(--ft-tab-height);
  line-height: var(--ft-tab-height);
}

/*** label ***/
.tab_editable .label {
  z-index: 0;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}
.tab_editable .label .text {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  z-index: 1;
  box-sizing: border-box;
  padding-top: var(--ft-tab-editable-padding-top);
}
.tab_editable .label .edit_button {
  height: 30px;
  aspect-ratio: 1 / 1;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1.4em;
  text-align: center;
  background-color: transparent;
  border-radius: 100%;
  opacity: 0.5;
  background-color: var(--ft-color-white);
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.tab_editable .label .edit_button * {
  display: none;
}
.tab_editable .label .edit_button:hover {
  opacity: 1;
  background-color: var(--ft-button-hover-bg-color);
}

/*** input ***/
.tab_editable .input {
  position: absolute !important;
  left: 0;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  padding-top: var(--ft-tab-editable-padding-top);
}
