.icon_list {
  font-size: 100px;
}
.icon_list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.icon_list ul li {
  display: inline-block;
  padding: 4px;
  position: relative;
}

.icon_list ul li > div {
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.icon_title {
  font-size: 10px;
  display: block;
  text-align: center;
  padding-bottom: 8px;
  top: 0;
  max-width: 100px;
}

.icon_custom_color [fill] {
  fill: rgb(170, 0, 255);
}
.icon_custom_color [stroke] {
  stroke: rgb(170, 0, 255);
}
.icon_custom_color [fill='none'] {
  fill: transparent;
}
.icon_custom_color [stroke='none'] {
  stroke: transparent;
}
