.input_text {
  position: relative;
  display: flex;
  box-shadow: var(--ft-box-shadow-1);
  border-radius: var(--ft-form-item-border-radius);
  background-color: var(--ft-color-grey-4);
  border: var(--ft-form-item-border);
}
.input_text .input {
  font-family: var(--ft-select-default-font-family);
  font-size: var(--ft-select-default-font-size);
  line-height: var(--ft-select-default-line-height);
  padding: var(--ft-form-item-padding-y) var(--ft-form-item-padding-x);
  width: 100%;
  display: block;
  box-sizing: border-box;
  color: var(--ft-color-text);
  border: none;
  border-radius: var(--ft-form-item-border-radius);
  background-color: transparent;
}
.input_text .input.cleanable {
  padding-right: calc(var(--ft-form-item-padding-x) * 3);
}
.input_text .input:focus {
  outline: var(--ft-select-list-item-bg-color-active) solid 2px;
}
.input_text .input:read-only {
  cursor: default;
  outline: none;
}
.input_text .input:disabled {
  background-color: var(--ft-color-grey-4);
  pointer-events: none;
  filter: saturate(0) brightness(115%) contrast(90%);
}

.input_text input::placeholder {
  color: var(--ft-color-grey-1);
}

/*** cleaner ***/
.input_text .cleaner {
  position: absolute;
  right: 0;
  border: none;
  margin: 0;
  padding: var(--ft-form-item-padding-y) 0;
  border-left: none;
  transition: background-color 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100%;
  line-height: 100%;
  right: 0;
  width: calc(var(--ft-form-item-padding-x) * 3);
}
.input_text .cleaner > i {
  display: none;
}
.input_text .cleaner .cleaner_icon {
  color: var(--ft-form-item-border-color);
}
.input_text .cleaner:hover .cleaner_icon {
  color: var(--ft-color-text);
}
